rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAdmin() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.isAdmin == true;
    }
    function isMasterAdmin() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.masterAdmin == true;
    }
    match /users/{uid} {
      allow read: if request.auth.uid == uid || isAdmin() || isMasterAdmin();
      allow write: if request.auth.uid == uid;
      allow update: if (isAdmin() || isMasterAdmin()) && !('masterAdmin' in request.resource.data.diff(resource.data).affectedKeys());
    }
    match /content/{chapterId} {
      allow read: if request.auth != null;
      allow write: if isMasterAdmin();
    }
    match /content-drafts/{chapterId} {
      allow read, write: if isAdmin() || isMasterAdmin();
    }
  }
}
